:root   {
    --quart: 25%;
    --demi: 50%;
    --larg: 100%
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
  }
  *:focus {
      outline: none;
  }
body {
    margin: 0;
}
.fin {
    background-color: #a4286a;
    font-size: 14pt;
    color: white;
    padding: 5px 0 15px 10px;
}
.fin p {
    margin: 2px;
}
.fin a {
    color: white;
    font-size: 14pt;
    text-decoration: none;
}
.fin a:hover {
    text-decoration: underline;
}
.fin span {
    color: white;
    font-size: 16pt;
    font-weight: bolder;
}
.znimg {
    text-align: center;
}
.getfree {
    padding: 30px;
}
.getfree h1 {
    font-size: 30pt;
    color: #a4286a;
}
.getfree ul {
    font-size: 14pt;
}
.getfree ul li {
    list-style-type: square;
}
.finzone {
    width: 90%;
    text-align: center;
}
.privacy {
    font-size: 8pt;
}
#getfree2{
    border: solid #a4286a 1px;
    width: 400px;
    padding: 10px;
    font-size: 18pt;
}
.butform {
    font-size: 18pt;
    padding: 10px;
    background-color: #fec228;
    border-radius: 10px;
}
.section3 {
    padding: 30px;
}
.section3 h1 {
    font-size: 30pt;
    color: #a4286a;
    width:100%;
}

.section2 {
    padding: 30px;
    background-color: #f4f1f4;
    text-align: left;
}
.section2 a {
    font-size: 14pt;
    color: #a4286a;
    text-decoration: none;
}
.section2 p {
    margin: 5px 0 10px 0;
}
.section2 a:hover {
    text-decoration: underline;
}
.section2 h1 {
    width: 100%;
}
.zn100 {
    width: 100%;
}
.zn100 h1 {
    font-size: 20pt;
    font-weight: normal;
    color: #a4286a;
    text-decoration: none;
}
.zn100 a {
    font-size: 20pt;
    font-weight: normal;
    color: #a4286a;
    text-decoration: none;
}
.pl4a a {
    font-size: 20pt;
    color: #a4286a;
    text-decoration: none;
}
.pl4a:hover {
    text-decoration: underline;
}
.zn100 a:hover {
    text-decoration: underline;
}
.navfoo {
    display: flex;
    flex-wrap: wrap;
    /*padding: 10px;*/
    justify-content: space-evenly;
}
.menu2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    text-align: left;
}
.menu4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.znplug3 a {
    font-size: 16pt;
    color: #a4286a;
}
.znplug3 p {
    font-size: 12pt;
    display: block;
}
.znplug3 {
    display: inline-block;
    padding: 10px;
    text-align: left;
    font-size: 12pt;
    width: 25%;
    min-width: 200px;
}
.znplug4 {
    text-align: left;
    font-size: 14pt;
    color: #a4286a;
    max-width: 22%;    
}
.znfleche {
    display: flex;
    justify-content: left;
}
.znplug4 img {
    text-align: right;
}
.menufin {
    text-align: left;
    padding: 20px;
}
.pl4a {
    text-align: left;
    font-size: 16pt;
    font-weight: normal;
    color: #a4286a;
    max-width: 22%;
    text-decoration: none;
}
.znplug {
    font-size: 12pt;
    text-align: left;
    display: inline-block;
    width  :20%;
    min-width: 180px;
}
.lia {
    font-size: 12pt;
    color: #a4286a;
    text-decoration: none;
}
.lia:hover {
    text-decoration: underline;
}
.znplug img:hover {
    cursor: pointer;
}
.section1 {
    padding: 30px;
}
.section1 a {
    font-size: 22pt;
    color: #a4286a;
    text-decoration: none;
}
.section1 a:hover {
    text-decoration: underline;
}
.section1 h1 {
    font-size: 12pt;
    font-weight: normal;
}
.Articles {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: space-between;
    text-align: left;
    font-size: x-large;
}
.znarticle a {
    font-size: 16pt;
    color: #a4286a;
    text-decoration: none;
}
.znarticle p {
    font-size: 12pt;
}
.znarticle a:hover {
    text-decoration: underline;
}
.txtzn {
    padding-left: 10px;
    padding-right: 10px;
    height: calc(95% - 131px);
}
.imgzn {
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    top:35px;
}
.imgzn img {
    width: 100%;
    outline: none;
}
.znarticle {
    display: block;
    background-color: white;
    padding-top: 5px;
    border: solid lightgray 1px;
    border-radius: 6px;
    width: 22%;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: lightgray 4px 4px 4px;
}
.lookfor form {
    width: 100%;
    align-self: center;
    text-align: center;
}
.lookfor {
    display: inline-flex;
    width:100%;
    padding: 30px;
    background-color: whitesmoke;
    height: 100px;
}
#lookfor2 {
    font-size: 16pt;
    /*border: outset silver 4px;*/
    border: 1px solid lightgrey;
    box-shadow: 2px 2px 2px lightgrey;
    width: 80%;
    padding: 8px;
    color: lightslategray;
}
.btcssPost {
    display: inline-flex;
    background-color: #a4286a;;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    font-size: 16pt;
    font-weight: normal;
}

.hero {
    display: block;
    height: 300px;
    overflow: hidden;
    /*background-image: url("./Images/hero.webp");
    /*background-size: contain;*/
    /*background-clip: padding-box;
    background-position: center;
    background-repeat: no-repeat;*/
}
.divimghero {
    display: flex;
    height: calc(480px/2);
    text-align: center;
    align-self: center;
    justify-content: center;
    object-position: center;
    overflow-x: hidden;
}
.imghero {
    display: block;
    width: calc(2424px / 2);
    height: calc(480px / 2);
}
.navhero {
    display: flex;
    justify-content: space-evenly;
    /*padding-top: 300px;*/
    margin-bottom: 10px;
    position: relative;
    top: -60px;
}
.choixhero {
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid gray 1px;
    border-style: solid;
    border-radius: 6px;
    box-shadow: 2px 2px 4px grey;
    width: 30%;
    text-align: left;
    font-size: x-large;
}
.choixhero p {
    margin:10px;
    font-size: 12pt;
}
.bouton {
    border: solid lightgrey 1px;
    border-radius: 6px;
    box-shadow: 2px 2px 2px lightgrey;
    padding: 10px;
}
#bt1 {
    background-color: orange ;
    color: black;
}
#bt2 {
    background-color: #a4286a;
    color: white;
}
#bt3 {
    background-color: #a4286a;
    color: white;
}

/* Gestion de l'entête Titre + promotion + NAV bouton */
.tete {
    display:flex;
    flex-direction: row;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* entête Image Yoast */
.imgtete {
    width:50%;
    padding-left: 40px ;
    height: auto;
}
/* entête Menu droite */
.ultete {
    display:inline-block;
    width:75%;
    object-position: right;
    margin-right: 10px;
}
.ultete ul {
    /*border: solid red 1px;*/
    text-align: right;
    padding-right: 10px;
    margin: 5px;
    color: #a4286a;
}
.ultete ul li {
    /*display: inline-flex;*/
    flex-direction: row;
    width: 20%;
    justify-content: flex-end;
}
#monnaie {
    color: #a4286a;
    border: none;
}
.SansBurger i, select {
    cursor: pointer;
}
.AvecBurger {
    padding-top: 5px;
}
.AvecBurger li {
    color: white;
    font-size: 18pt;
}
.ultete form {
    display: inline-block;
    width: 100%;
    text-align: right;
    height: auto;
    /*border: solid red 1px;*/
}
.btnSearch1 {
    background-color: #a4286a;
    border-color:#a4286a;
    font-size: 12pt;
    padding: 5px;
}
.btnSearch1 i {
    color: white;
}
#lookfor1 {
    width: 60%;
    border: 2px solid lightgray;
    font-size: 12pt;
    padding: 5px;
}
/* Entête Promotion (s'il y en a) */
.promotion {
    border: solid black 1px;
    height: 30px;
    justify-content: center;
}
.promotion p {
    padding: 6px;
    margin: 0;
}
/* Entête : navigation */
.btcss {
    display: flex;
    width: 100%;
    background-color: #4CAF50;
    border-style: ridge;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14pt;
    cursor: pointer;
    transition-duration: 0.1s;
}
.btcss:hover {
    background-color: purple;
    color: white;
    transform: scale(1.15);
}
.menu1 {
    width: 100%;
}
.btcss1 {background-color: seagreen;}
.btcss2 {background-color: royalblue;}
.btcss3 {background-color: midnightblue;}
.btcss4 {background-color: crimson;}
.btcss5 {background-color: rgb(76, 19, 83);}
.btcss6 {background-color: limegreen;}
.btcss7 {background-color: darkorange;}

/* Téléphone */
@media screen and (max-width: 640px) {
    /*----- Partie Header --------------*/    
    .Txtyoast {
        color: white;
        text-align: left;
        font-size: 20pt;
        font-weight: bolder;
        padding-left: 10px;
        width:35%;
    }
    .imgtete {
        display: none;
    }
    .SansBurger {
        display: none;
    }
    .AvecBurger li {
        display: inline-flex;
    }
    .menu1 {
        display: none;
    }
    .tete {
        background-color: #a4286a;
        padding-top: 0;
        padding-bottom: 0;
    }
    .ultete form {
        display: none;
    }
    .promotion {
        display: none;
    }
    /*----- zone Main / Hero ----------*/
    .hero {
        /*background-image: url(./Images/Hero.png);
        background-position: top;
        background-clip: border-box;
        background-size: contain;*/
    }
    .navhero {
        padding-top: 120px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0px;
    }
    .choixhero {
        display: inline-block;
        width: 80%;
        text-align: left;
        font-size: 12pt;
        margin-bottom: 20px;
    }
    .bouton {
        text-align: center;
    }
    /*------ zone Main / lookFor -----*/
    .lookfor {
        padding: 10px;
    }
    #lookfor2 {
        font-size: 12pt;
        width: 60%;
    }
    .btcssPost {
        display: inline-flex;
        background-color: #a4286a;;
        color: white;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;
        font-size: 12pt;
    }
    /*----- Section 1 --------*/
    .section1 a {
        font-size: 16pt;
    }
    .section1 h1 {
        font-size: 16pt;
    }
    .section1 {
        padding: 0 20px 10px 20px;
    }
    .znarticle {
        max-width: 300px;
    }
    .txtzn a {
        font-size: 14pt;
    }
    .txtzn p {
        font-size: 12pt;
    }
    .imgzn {
        display: none;
    }
    /*----- Section 2 --------*/
    .section2 {
        padding: 10px;
    }
    .zn100 a {
        font-size: 20pt;
    }
    .znplug {
        margin-bottom: 5px;
    }
    /*----- footer --------*/
    .getfree {
        padding: 10px;
    }
    .getfree form {
        text-align: center;
    }
    .getfree h1 {
        font-size: 18pt;
    }
    .getfree ul {
        display: none;
    }
    #getfree2 {
        width: 95%;
        margin-bottom: 10px;
    }
    .butform {
        font-size: 14pt;
    }
    /*----- Section 3 - 1 --------*/
    .section3 {
        padding: 10px;
    }
    .section3 h1 {
        font-size: 20pt;
    }
    .znplug3 {
        min-width: 320px;
    }
    .znplug3 p {
        text-align: left;
        font-size: 12pt;
    }
    .znplug3 a {
        font-size: 14pt;
    }
    /*----- Section 3 - 2 --------*/
    .znplug4 {
        max-width: inherit;
        width: 90%;
    }
    .znfleche {
        display: flex;
        justify-content: space-between;
    }
    .znplug4 ul {
        display: none;
    }
    .pl4a {
        font-size: 16pt;
        max-width: 80%;
    }
    .lia {
        font-size: 12pt;
    }
    /*------- zone Fin ------*/
    .fin {
        font-size: 16pt;
        padding: 5px;
    }
    .fin p {
        margin-top: 2px;
        margin-bottom: 2px;
    }

}
/* Tablette */
@media screen and (max-width: 900px) and (min-width:640px) {
    .Txtyoast {
        color: white;
        text-align: left;
        font-size: 30pt;
        font-weight: bolder;
        padding-left: 10px;
        width:70%;
        margin: 0;
    }
    .imgtete {
        display: none;
    }
    .SansBurger {
        display: none;
    }
    .AvecBurger {
        margin:0;
    }
    .AvecBurger li {
        display: inline-flex;
        margin: 0;
    }
    .menu1 {
        display: none;
    }
    .tete {
        background-color: #a4286a;
        padding-top: 0;
        padding-bottom: 0;
    }
    .ultete form {
        display: none;
    }
    .promotion {
        display: none;
    }
    /*----- zone Main / Hero ----------*/
    .hero {
        /*background-image: url(./Images/Hero.png);
        background-position: top;
        background-clip: border-box;
        background-size: contain;*/
    }
    .navhero {
        padding-top: 180px 20px 20px 20px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        justify-content: left;
   }
    .choixhero {
        display: inline-block;
        width: 40%;
        text-align: left;
        font-size: 12pt;
        margin-bottom: 20px;
        margin-left: 20px;
    }
    .bouton {
        text-align: center;
    }
    /*------ zone Main / lookFor -----*/
    .lookfor {
        padding: 10px;
    }
    #lookfor2 {
        font-size: 12pt;
        width: 70%;
    }
    .btcssPost {
        display: inline-flex;
        background-color: #a4286a;;
        color: white;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;
        font-size: 12pt;
    }
    /*----- Section 1 --------*/
    .section1 a {
        font-size: 16pt;
    }
    .section1 h1 {
        font-size: 16pt;
    }
    .section1 {
        padding: 0 20px 10px 20px;
    }
    .znarticle {
        max-width: 300px;
        margin-bottom: 20px;
    }
    .txtzn a {
        font-size: 14pt;
    }
    .txtzn p {
        font-size: 12pt;
    }
    .imgzn {
        display: none;
    }
    /*----- Section 2 --------*/
    .section2 {
        padding: 10px;
    }
    .zn100 a {
        font-size: 20pt;
    }
    .znplug {
        margin-bottom: 5px;
    }
    /*----- footer --------*/
    .getfree {
        padding: 10px;
    }
    .getfree form {
        text-align: center;
    }
    .getfree h1 {
        font-size: 18pt;
    }
    .getfree ul {
        display: none;
    }
    #getfree2 {
        width: 95%;
        margin-bottom: 10px;
    }
    .butform {
        font-size: 14pt;
    }
    /*----- Section 3 - 1 --------*/
    .section3 {
        padding: 10px;
    }
    .section3 h1 {
        font-size: 20pt;
    }
    .znplug3 {
        min-width: 320px;
    }
    .znplug3 p {
        text-align: left;
        font-size: 12pt;
    }
    .znplug3 a {
        font-size: 14pt;
    }
    /*----- Section 3 - 2 --------*/
    .znplug4 {
        max-width: inherit;
        width: 90%;
    }
    .znfleche {
        display: flex;
        justify-content: space-between;
    }
    .znplug4 ul {
        display: none;
    }
    .pl4a {
        font-size: 16pt;
        max-width: 80%;
    }
    .lia {
        font-size: 12pt;
    }
    /*------- zone Fin ------*/
    .fin {
        font-size: 20pt;
        padding: 20px;
    }
    .fin p {
        margin-top: 2px;
        margin-bottom: 2px;
    }
}
/* Ecran */
@media screen and (min-width:900px) {
    .Txtyoast {
        display: none;
    }
    .SansBurger li {
        display: inline-flex;
        justify-content: space-around;
    }
    .AvecBurger {
        display: none;
    }
   .menu1 {
        display: inline-flex;
    }
    .promotion {
        display: none;
    }
    .znfleche {
        display: block;
    }
    .znfleche img {
        display: none;
    }
}